.container{
    padding: 16px;
    border: 1px solid #000000;
}
#round {
    height: 50px;
    width: 50px;
    border-radius: 25px;
    background-color: aqua;
}

p{
font-size:20px;
}
.box1 {
    width: 800px;
    height: 500px;
    background: greenyellow;
    border: 7px solid orange;
    border-radius: 50%;  
}
i{
    
}